body {background-color:tan;}
h1{color:grey;font-family:verdana}
body {background-color:black;font-family:arial;color:white}
.maindiv {
    text-align: center;
    background-color:white;
    width:300px;
    padding:20px
    margin: auto;
    color: black;
    border-radius: 25px;
}


